{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
            Trailers
        {% endblock title %}
    </title>
    <script src="https://kit.fontawesome.com/837650ea61.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700&display=swap" rel="stylesheet">
    <!--    customized bootstrap stylesheet-->
     <link rel="stylesheet" href="{% static 'css/app.css' %}" media="screen">
</head>
<body>

    <!--    Navbar begins-->

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="container">
          <a class="navbar-brand" href="{% url 'trailers_app:movie_list' %}"><i class="fas fa-film ml-3 mr-2"></i>Trailer</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      {{ user }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                      <a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a>
                    </div>
                </li>
                <a class="nav-item nav-link" href="{% url 'trailers_app:movie_new' %}">Add Movie</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
              {% endif %}

            </div>
          </div>
      </div>
    </nav>
    <!--    Navbar ends-->

    <!-- Trailer Video Modal begins -->
    <div class="modal" id="trailer">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <a href="#" class="hanging-close" data-dismiss="modal" aria-hidden="true">
            <img src="https://lh5.ggpht.com/v4-628SilF0HtHuHdu5EzxD7WRqOrrTIDi_MhEG6_qkNtUK5Wg7KPkofp_VJoF7RS2LhxwEFCO1ICHZlc-o_=s0#w=24&h=24"/>
          </a>
          <div class="scale-media" id="trailer-video-container">
          </div>
        </div>
      </div>
    </div>
    <!-- Trailer Video Modal ends -->

    <!-- Welcome page. Display only if user is not authenticated -->
    {% if not user.is_authenticated %}
    <div class="container">
        <div class="jumbotron mt-4">
          <h1 class="display-4">Welcome to the "Trailers" App</h1>
          <p class="lead">A web application where you can store trailers of your favorite movies</p>
          <hr class="my-4">
          <p>Sit back and enjoy your movie trailers!</p>
          <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign In</a>
        </div>
    </div>
    {% endif %}

    <div class="container mt-5">
        {% block content %}
        {% endblock content %}
    </div>

    <!--    bootstrap javascript files-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>